<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOG_HOME" value="./log/"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-6level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PACKAGE1_DEBUG_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}package_1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}-%i.zip</FileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PACKAGE2_ERROR_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/package_2.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ROOT_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-6level %logger{36} - %msg%n</pattern>
    </appender>

    <logger level="DEBUG" name="com.wentjiang.logback.package1">
        <appender-ref ref="PACKAGE1_DEBUG_LOG_FILE"/>
    </logger>
    <logger level="ERROR" name="com.wentjiang.logback.package2">
        <appender-ref ref="PACKAGE2_ERROR_LOG_FILE"/>
    </logger>
    <logger level="INFO" name="com.wentjiang.logback">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>